.custom-popup{
    width: auto;
    height: auto;
  }

.submit{
  position: 'absolute';
        bottom: '10px';
        right: '20px';
}



.modal-content {
  width: 400px;
  height: auto;
  max-width: 640px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
  border-radius: 5px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}



.report-title {
  text-align: center;
  font-weight: bold; 
  margin-top: 0;
}

.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.report-button {
  color: red;
  text-decoration: underline;
}


.location-address {
  font-weight: normal;
  color: #555;
  margin-bottom: 10px;
}

.option-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.options label.option {
  display: block;
  margin-bottom: 5px;
}

.options input[type="radio"] {
  margin-right: 10px;
}

.comment {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.comment:last-child {
  border-bottom: none;
}

